#container {
  margin:auto;
  text-align: center;
}

#controls form {
  text-align: left;
  width: 310px;
  margin: auto;
}

.slider {
  margin-top:5px;
}

#map {
  margin: auto;
  margin-top: 1em;
  width: 225px;
  height: 1600px;
}
